#about-us {
 height: 750px;
 background-color: #193c63;
  width: 100%;
  text-align: right;
  color: white;
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  margin-top: 0px; 
  top :0px; 
  border-bottom: 2px solid white;
 
 
  /*margin-top: -10;*/
}


#contact-us {
 height: 750px;
 background-color: #193c63;
  width: 100%;
  color: white;
  /*padding-left: 100px;*/
  padding-top: 100px;
  font-size: 25px;
  margin-top: 0px; 
  top :0px; 
  text-align: center;
  border-bottom: 2px solid white;
 
 
  /*margin-top: -10;*/
}