html, body {
    margin: 0;
    padding: 0;
     font-family: 'Roboto', sans-serif;
}
a,
a label {
    cursor: pointer;
}
#adv_overview_filters{
  margin-left: 70px;
  margin-top: 20px;

}

#overview_branch{
  height: 20px;
}

#adv_trends_filters{
  margin-left: 70px;
  margin-top: 80px;
}
ul.filter_dropdown_list{
    position: absolute;
    background: #fff;
margin-left: 5px;
padding: 0;
border: 1px solid #ccc;
max-height: 120px;
overflow-y: auto;
width: 140px;
z-index: 15;
margin-top: 1px;

}
.filter_dropdown_style ul{
margin-left: 5px;
padding: 0;
border: 1px solid #ccc;
max-height: 120px;
overflow-y: auto;
width: 140px;
z-index: 15;
}

a.filter_dropdown_style{
    padding: 5px;
    background: #fff;
display: block;
border: 1px solid #ccc;
border-radius: 4px;
color: #666;
cursor: pointer;
font-size: 12px;
width: 140px;
margin-left: 5px;

}
a.filter_dropdown_style:after{
   content: ""; 
   border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #999;
position: inherit;
height: 0;
width: 0;

margin-top: 5px;
margin-right: 2px;
font-size: 10px;
overflow: hidden;
display: block;
top: 20px;
    right: 9px;
    float: right;

   /* content: "";
    display: block;
    position: inherit;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #999;
    top: 20px;
    right: 9px;
    float: right;*/
}
li.filter_list_name:after{
    content: "";
    display: block;
    position: inherit;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #999;
    top: 20px;
    right: 9px;
    float: right;
}
#login{
  /*height: 600px;*/
  background: url("../images/login_bg.png") no-repeat;
  background-position: center;
}
.basic_filters{
height: 60px;
width: 80%;
border: 1px solid white;
background-color: white;
margin: 30px;
}
#adv_overview_graph{
   min-width: 500px;
  margin-left: 30px;
  text-align: center;
}
#adv_trends_graph{
   min-width: 500px;
  margin-left: 30px;
  text-align: center;
}
#overview_graph{
  min-width: 500px;
  margin-left: 30px;
  text-align: center;
}
#home_signin_button{
  height: 50px;
  width: 230px;
  font-size: 20px;
}
#home_img{

  height: 450px;
  width: 450px;
  margin-left: 20px;
}

tr#category_level_1_row {
height: 32px;
   
}
#overall_row{
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#current_day{
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#dashboard_slider{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 20px;
  font-size: 9px;
  padding-bottom: 5px;
  /*border-bottom: 2px solid #193c63;*/
}
#slider:after{
  
}
#slider_line label {
    position: absolute;
    /*width: px;*/
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}
#slider_line{
  /*float: right;*/
  width: 650px;
}
#slider_day{
  width: 450px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
#slider_row
{
  /*margin-right: 40px;*/
  padding-right: 40px;
  text-align: right;
  float: right;
}
#login{
  height: 500px;
   background-color : #f0f0f0;
   color: black;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding-top: 70px;
   
}
#static_body_div{

  height: 500px;
   background-color : #193c63;
   color: white;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding-top: 50px;
   font-size: 45px;
}

table#skeleton{
    background-color: #f0f0f0;
    padding-top: 10px;
    height:800px;
    width: 100%;
    border: none;
}

#table_heading{
    height: 52px;
    width:236px;
}

.category_level_2 {
	
	height: 40px;
	/*width: 136px;*/
	background-color: #bac3cd;

    color:black;
    font-family: 'Roboto', sans-serif;
    /*padding-right: 5px;*/
    /*padding-left: 65px;*/
    padding-top: 2px;
    /*padding-bottom: 2px;*/
    margin-left: 20px;
    margin-right: 10px;
    
    text-align: center;
    font-size: 17px;


}

.category_level_2:after{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}
.category_level_2_text{
height: 22px;
width: 116px;
border-bottom:  #bac3cd solid 2px;
/*background-color: #bac3cd;*/

}

.category_level_1 {
	margin-top: 10px;
	height: 30px;
	width : 230px;
	background-color: #193c63;
    color:white;
    font-family: 'Roboto', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    /*text-align: center;*/
}

.category_level_1_icons{

	float:left;
	margin-left: 5px;
	margin-right: 19px;
}
.category_level_1_text
{

	/*float: right;*/
	/*margin-right: 5px;*/
}

.container-viewport {
  position: absolute;
  /*top: 100px;
  right: 250px;
  left: 250px;*/
  /*height: 300px;*/
  background-color: #eee;
}

.slider_day{
  font-family: 'Roboto', sans-serif;
  float: left;
  font-size: 32px;
}
table.dashboard_inside_tables{
  border-spacing: 10px;
  font-size: 16px;
}
table.dashboard_inside_tables td{
background-color: white;
border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
padding: 5px;
width:425px;
text-align: center;

}

table#dash_day_nps tr,th{

padding: 15px;


}

.rating{
  font-family: 'Roboto', sans-serif;
text-align: center;
  font-size: 32px;
  width: 194px;
}

.dashboard_icons{
height: 50px;
width: 50px;

}
table tr.col1col2{
  /*height: 160px;*/
  /*width: 294px;*/
}