html, body {
    margin: 0;
    padding: 0;
     font-family: 'Roboto', sans-serif;
      
}
a,
a label {
    cursor: pointer;
}
td.main_data{
  margin-left: 30px;
 height: 500px;
  overflow: scroll; 
 
}
#container{

 
}
.back_link{
  margin-left: 2px;
  color:  #4075ab;
  font-size: 20px;
}
.stats_main_div
{
margin-left: 20px;
font-size: 30px;
margin-top: 30px;
font-weight: 1100;

}

th.category_level_2:hover {cursor: hand; cursor: pointer; }
/*td.category_level_2:hover {cursor: hand; cursor: pointer;}*/
.category_level_2:hover{background-color: #193c63;color: white;}
.comments_less{
width: 200px;
height: 40px;
padding: 2px;
background-color: white;
margin-right: 200px;
font-size: 14px;
float: right;
border-radius: 5px;
border: 1px solid #bcbcbc;
}
#adv_overview_filters{
  margin-left: 70px;
  margin-top: 20px;

}
.main_graph_plot
{
  height: 500px;
  width: 80%;
  margin-left: 20px;
}
#overview_branch{
  height: 20px;
}

.last_row{
  padding-top: 20px;
}

#adv_trends_filters{
  margin-left: 70px;
  margin-top: 80px;
}
ul.filter_dropdown_list{
    position: absolute;
    background: #fff;
margin-left: 5px;
padding: 0;
border: 1px solid #ccc;
/*min-height: 120px;*/
max-height: 120px;
overflow-y: auto;
width: 180px;
z-index: 15;
margin-top: 1px;

}
.filter_dropdown_style ul{
margin-left: 5px;
padding: 0;
border: 1px solid #ccc;
max-height: 120px;
/*min-height: 120px;*/
overflow-y: auto;
width: 120px;
z-index: 15;
}

a.filter_dropdown_style{
    padding: 5px;
    background: #fff;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
color: #666;
cursor: pointer;
font-size: 12px;
margin-left: 5px;

}
a.filter_dropdown_style:after{
   content: ""; 
   border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #999;
position: inherit;
height: 0;
width: 0;

margin-top: 5px;
margin-right: 2px;
font-size: 10px;
overflow: hidden;
display: block;
top: 20px;
    right: 9px;
    float: right;

   /* content: "";
    display: block;
    position: inherit;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #999;
    top: 20px;
    right: 9px;
    float: right;*/
}
li.filter_list_name:after{
    content: "";
    display: block;
    position: inherit;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #999;
    top: 20px;
    right: 9px;
    float: right;
}
#login{
  /*height: 600px;*/
  background: url("../images/login_bg.png") no-repeat;
  background-position: center;
}
.basic_filters{
height: 60px;
width: 90%;
padding: 10px;
border: 1px solid #bcbcbc;
background-color: white;
margin: 20px;
}
#adv_overview_graph{
   min-width: 500px;
  margin-left: 30px;
  text-align: center;
}
#adv_trends_graph{
   min-width: 500px;
  margin-left: 30px;
  text-align: center;
}
#overview_graph{
  min-width: 500px;
  margin-left: 30px;
  text-align: center;
}
#home_signin_button{
  height: 50px;
  width: 230px;
  font-size: 20px;
}
#home_img{

  height: 450px;
  width: 450px;
  margin-left: 20px;
}

tr#category_level_1_row {
height: 32px;
   
}

.category_level_2 {
  
  height: 40px;
  /*width: 136px;*/
  background-color: #bac3cd;

    color:black;
    font-family: 'Roboto', sans-serif;
    /*padding-right: 5px;*/
    /*padding-left: 65px;*/
    padding-top: 2px;
    /*padding-bottom: 2px;*/
    margin-left: 20px;
    margin-right: 10px;
    
    text-align: center;
    font-size: 17px;


}

.category_level_2:after{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}
.category_level_2_text{
height: 22px;
width: 116px;
/*border-bottom:  #bac3cd solid 2px;*/
/*background-color: #bac3cd;*/

}

.category_level_1 {
  margin-top: 10px;
  height: 30px;
  width : 230px;
  background-color: #193c63;
    color:white;
    font-family: 'Roboto', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    /*text-align: center;*/
}

.category_level_1_icons{

  float:left;
  margin-left: 5px;
  margin-right: 19px;
}
.category_level_1_text
{

  /*float: right;*/
  /*margin-right: 5px;*/
}

.container-viewport {
  position: absolute;
  /*top: 100px;
  right: 250px;
  left: 250px;*/
  /*height: 300px;*/
  background-color: #eee;
}

/* ==========================================================
  Dashboard
   ========================================================== */

#Dashboard_current{
  margin-top: 5px;
margin-left: 20px;
}
#Dashboard_overall{
margin-left: 20px;
}
th.dashboard_heading{
  font-size: 20px;
  color: #193c63;
}

#overall_row{
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#current_day{
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

#dashboard_slider{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 20px;
  font-size: 9px;
  padding-bottom: 5px;
  /*border-bottom: 2px solid #193c63;*/
}
#slider:after{
  
}
#slider_line label {
    position: absolute;
    /*width: px;*/
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}
#slider_line{
  /*float: right;*/
  width: 650px;
}
#slider_day{
  width: 450px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
.dashboard_heading
{
  width: 400px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  margin-top: 10px;
}
#slider_row
{
  /*margin-right: 40px;*/
  padding-top: 15px;
  padding-right: 40px;
  text-align: right;
  float: right;
}
#login{
  height: 500px;
   background-color : rgba(240, 240, 240, 0.77);
   color: black;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding-top: 70px;
   
}
#static_body_div{

  height: 500px;
   background-color : #193c63;
   color: white;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding-top: 50px;
   font-size: 45px;
}

table#skeleton{
  
    background-color: #f0f0f0;
    padding-top: 10px;
    height:500px;
    width: 100%;
    border: none;
    overflow: scroll;
}

#table_heading{
    height: 52px;
    width:236px;
}



.slider_day{
  font-family: 'Roboto', sans-serif;
  float: left;
  font-size: 32px;
}
table.dashboard_inside_tables{

  border-spacing: 10px;
  font-size: 16px;
}
table.dashboard_inside_tables td{
  width: 250px;
text-align: center;
}

.user_defined_table{
  height:120px;
  width:290px ;
  font-size: 20px;
  text-align:center; 
  /*font-size:50px;*/
  border: 1px  solid ;
    border-color: #bcbcbc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

table.dashboard_tables tr,th{

}

table.dashboard_tables{
  height:150px;
   border: 1px  solid ;
    border-color: #bcbcbc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rating{
  font-family: 'Roboto', sans-serif;
text-align: center;
  font-size: 52px;
  width: 194px;
}

.dashboard_icons{
height: 40px;
width: 40px;

}
table tr.col1col2{
  /*height: 160px;*/
  /*width: 294px;*/
}